* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 3, 22, 0.992);
  color: white;
}

main {
  flex: 1; /* This makes main content take up the available space */
}

.headline {
  display: flex;
  justify-content: center;
  font-size: 2.4em;
}

.projects {
  display: flex;
  justify-content: space-around;
  font-size: 2.2em;
}

footer {
  height: 60px;
  background-color: rgb(15, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  .projecttype {
    padding: 10px 0;
    font-size: 1.4rem;
  }
  footer {
    height: auto;
    padding: 15px 0;
  }
  footer div {
    flex-direction: column;
    padding: 5px 0;
  }
}
